@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
.leftnav img {
    width: 150px;
    padding-right:10px;
}
nav {
    display: flex;
    justify-content: space-between;
    height:80px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
}
.leftnav{
    display: flex;
    align-items: center;
    margin-left:100px;
    
}
.leftnav p{
    font-size: 25px;
    font-weight: 500;
    border-left: 1px solid white;
    padding-left: 10px;
}
.rightnav{
display: flex;
align-items: center;
margin-right:100px;
}
.rightnav button{
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 9px;
    font-size: 20px;
}   
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


.search{
    height: 400px;
    background-color: #DADBF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search input{
    width: 700px;
    height: 70px;
    box-shadow: 3px 3px #888888;
}
.search label{
    font-size: 75px;
    padding-bottom: 30px;
}
.Icon-inside {
    position:relative;
   }
   
   .Icon-inside i {
    position:absolute;
    right:0;
    top:10px;
    padding:10px 0px 10px;
    color:#000000;
   }
   .search label {
    text-align: center;
   }
   .wrapper{
    width: 1500px;
    margin: 0 auto;
   }
   .first-line{
    /* width: 1500px; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

   }
   .second-line{
    /* width: 1500px; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

   }
   .third-line{
    /* width: 1500px; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;

   }
.grid1{
    display: flex;
    /* align-items:center; */
    width: 700px;
}
.grid1 img{
    width: 100px;
    height: 100px;
    margin-right: 40px;
    /* object-fit: contain; */
}
.grid1 div p{
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 22px;
}
.grid1 div p span {
    font-weight: bold;
}
.grid1 div p a {
    text-decoration: none;
}

.grid2{
    display: flex;
    width: 700px;
}
.grid2 img{
    width: 100px;
    height: 100px;
    margin-right: 40px;
    /* object-fit: contain; */
}
.grid2 div p{
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 22px;
}
.grid2 div p span {
    font-weight: bold;
}
.grid2 div p a {
    text-decoration: none;
}
footer{
    display: block;
    float:right;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    margin:15px;
    
    
}
#mybutton {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  footer{
    background-color: #000000;
    width: auto;
    color: white;
    width: 100%;
  }
  .columns{
    display:flex;
    justify-content: space-between;
    padding-top:50px;
    padding-left: 150px;
    padding-right: 150px;
    /* padding-bottom: 150px; */
  }
  /* .columns div {
    padding: 50px;
  } */

  .columns p {
    font-size: 15px;
    margin: 10px;
    margin-left: 0%
  }
  .columns h2 {
    margin-bottom:25px;
  }
  .last-col {
    padding-top: 220px;
    padding-bottom: 50px;
  }
  
  .last-col img {
    width:50px;
  }
  .last-col p {
    font-size:20px;
    
  }
  .p{
    padding-top: 30px;
  }
  .p p span{
    font-weight: bolder;
    
  }